.form-div{
    display: flex;
    justify-content: center;
}

.input-div{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.table_div{
    width: 60%;
    display: inline-block;
    padding-top: 30px;
}